body {
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: stretch;
    margin: 0px;
    font-family: Roboto, "Times New Roman";
}

/* Header CSS */


.header {
    background-color: #1F2937;
    color : #F9FAF8;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: stretch;
    padding-top : 10px;
    padding-bottom: 80px;
    padding-left : 50px;
    padding-right : 50px;
    gap : 80px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 24px;
}

.header ul {
    font-size: 18px;
    list-style : none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0px;
    padding: 0px;
}

.header a {
    text-decoration : none;
    color : #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap : 50px;
}

.header-content {
    display : flex;
    flex-direction : column;
    flex-wrap : wrap;
    gap : 5px;
    font-size : 18px;
    color : #E5E7EB;
}

.header-main-text {
    font-size : 48px;
    font-weight : bolder;
}

.img-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: grey;
    flex-basis : 500px;
    min-height : 200px;
}

button {
    width : 80px;
    padding : 4px;
    border-radius : 6px;
    border : none;
    background-color: #3882F6;
    color : #E5E7EB;
}